body {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.homepage {
    margin-top: -30px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 20px;
}

.logo {
    height: 150px;
}

h1 {
    font-family: 'Lexend';
}

.title {
    font-size: 23px;
    font-weight: 400;
    padding-right: 20px;
}

.description {
    font-size: 30px;
    font-family: 'Lexend';
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
}

.button {
    font-family: 'Lexend';
    font-size: 16px;
    margin-top: 10px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    border: none;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: scale(1.5, 1.5);
}

button:hover {
    cursor: pointer;
}